<a href="https://colab.research.google.com/github/ykitaguchi77/statistics_for_articles/blob/main/Surgically_induced_astigmatism_eyelid_malignant_tumor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Surgically induced astigmatism and higher order abberation after surgery of the eyelid malignant tumor**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

xlsx_path = "/content/drive/MyDrive/発表/日本眼形成再建外科学会/202306 HOA after wide excision/眼瞼悪性腫瘍波面_2.xlsx"
excel_data = pd.read_excel(xlsx_path)

df = excel_data.drop(['ID', 'Name'], axis=1) #idとnameを削除

# Display the first few rows of the dataframe
df.head()

In [13]:
from datetime import datetime

#年齢の算出
def calculate_age_robust(birth_date, surgery_date):
    try:
        # Handling potential inconsistencies in date formats
        birth_str = str(birth_date).split("/")[0]  # Handling dates with slashes
        surgery_str = str(surgery_date).split("/")[0]  # Handling dates with slashes

        birth = datetime.strptime(birth_str, "%Y%m%d")
        surgery = datetime.strptime(surgery_str, "%Y%m%d")
        age = surgery.year - birth.year - ((surgery.month, surgery.day) < (birth.month, birth.day))
        return age
    except Exception as e:
        # Returning a placeholder in case of any errors
        return None

# Applying the updated function to the dataframe
df['age'] = df.apply(lambda x: calculate_age_robust(x['生年月日'], x['手術日']), axis=1)

# Calculating statistical values for the Age_at_Surgery column
age_statistics = df['age'].describe()

age_statistics

count    21.000000
mean     70.000000
std      13.270268
min      38.000000
25%      66.000000
50%      73.000000
75%      78.000000
max      87.000000
Name: age, dtype: float64